<ion-view view-title="Browse">
  <ion-content>
    <h1>Browse</h1>
    <div class="card">
      <div class="item item-divider">
        Header
      </div>
      <div class="item item-text-wrap">
        Here is some awesome content about music.
      </div>
      <div class="item item-divider">
        Footer
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Fishing Songs
      </div>
      <div class="item item-text-wrap">
        Here is some awesome content about music.
      </div>
    </div>
  </ion-content>
</ion-view>
