<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>
    <div style="align-content: center">
      <button class="button button-positive button icon ion-search">Search</button>
    </div>
  </ion-content>
</ion-view>
